@{
    ViewBag.Title = "InactiveAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InactiveAccount</h2>

@*
    Notify user of activation email, allow them to send it again to activate account
*@