<h2>Connect with Us!</h2>
<ul id="connect">
			<li><a href="#" rel="itemLink"><img src="@Url.Action("../Content/images/preview03.jpg")"  alt="connect"></a></li>
			<li><a href="#" rel="itemLink"><img src="@Url.Action("../Content/images/preview03.jpg")"  alt="connect"></a></li>
			<li><a href="#" rel="itemLink"><img src="@Url.Action("../Content/images/preview03.jpg")" alt="connect"></a></li>
</ul>