<aside id="sideContent">
	<h2>Your Cart</h2>
	<section id="shopCart">
		<h1>Empty Cart</h1>
		<p>You currently have 0 items on your cart.</p>
		<p>Your currency: € Euro (<a href="#">change</a>)</p>
		<a href="#" id="shopButton"><img src="@Url.Action("../Content/images/shop-button.png")" alt="Start shopping now!"></a>
	</section>
		
	<h2>From the Blog</h2>
	<section id="blogPreview">
		<h1>Title of the post</h1>
		<h4><a href="#">August 6th, 2011</a> // <a href="#">Annoucements</a></h4>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since has been the industry's standard dummy text (...)</p>
		<a href="#" class="moreLink">read more...</a>
	</section>
		
	<h2>Stay Updated!</h2>
	<section id="newsletter">
		<p>Join the newsletter and stay up to date about our releases &amp; offers!</p>
		<form method="post" action="">
			<input type="text" name="email" value="enter email address" onfocus="if(this.value=='enter email address')this.value=''" onblur="if(this.value=='')this.value='enter email address'">
			<input type="submit" name="subscribe" value="Go!">
		</form>
	</section>
</aside>