<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add connectionString="Data Source=184.72.237.225\AMAZONA-1C1B8OO,1433;Initial Catalog=Contest;User ID=admin;Password=***********"
           name="sqlConnectionString" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
    <appSettings>
      <add key="DisqusDevMode" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>